#contenedor-main {
    margin: auto;
    max-width: 840px;
    border: 1px solid black;
    margin-top: 100px;
    text-align: center;
}

#contenedor-tablas div {
    display: inline-block;
    vertical-align: top;
}

#tablero {
    border: 1px solid black;
    height: 400px;
}

.cuadro {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

#gui {
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

#footer {
    margin-top: 20px;
}

#boton-jugar {
    margin-top: 40px;
}

#rendirse {
    margin-top: 20px;
}

#reiniciar {
    margin-top: 40px;
}

#botones-juego {
    margin-top: 40px;
}

#log {
    overflow-y: scroll;
    border: 1px solid black;
    width: 350px;
    height: 200px;
    text-align: left;
    margin-top: 20px;
}